<div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12">
                <p>Email with transfer details has been sent to {{ landlord }}.</p>
                <p class="bold-text">Thank you for cooperation.</p>
            </div>
            <button type="button" class="btn-solid btn-solid-noborder" onclick="$.fancybox.close()" style="display: inline-block;">OK</button>
        </div>
</div>

