<div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12">
                <p>Transaction for {{ landlord }} failed.</p>
            </div>
            <button type="button" class="btn-solid btn-solid-noborder" onclick="$.fancybox.close()" style="display: inline-block;">Try Again...</button>
        </div>
</div>

