{% extends 'ErpUserBundle:Profile:base.html.twig' %}

{% block pageContent %}
    {{ parent() }}

    {% include "ErpPropertyBundle:Wizard/blocks:header.html.twig" %}

    <main id="main">
        {% include "ErpPropertyBundle:Wizard/blocks:tabs.html.twig" with {'property': property, 'currentTab': 'landlord'} %}

        <div class="tab-content">
            <div class="container">

                <div class="row">
                    {% include "ErpPropertyBundle:Wizard/blocks:landlord.html.twig" %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
