<div class="col-md-5 col-xs-12 widget-first request-item tenants-block-middle">
    <div class="profile-widget-item">
        <div class="widget-title-row">
            <div class="login-block-title bold-text">Service Requests</div>
        </div>
        {% include "ErpUserBundle:Profile/Tenant/widgets:dashboard-service-request-form.html.twig" %}
        <hr>
        <div class="question-mark">
            <a role="popup" href="{{ path('erp_user_profile_hint_content', {'hintCode':'service_requests'}) }}">&#063;</a>
        </div>
        {% include "ErpUserBundle:Profile/Tenant/widgets:dashboard-service-request-form.html.twig" with {'hideAttachments': true} %}
        <hr>
        <div class="question-mark">
            <a role="popup" href="{{ path('erp_user_profile_hint_content', {'hintCode':'service_requests'}) }}">&#063;</a>
        </div>
    </div>
</div>
