<div class="popup-content">
    <div class="row">
        <div class="col-md-12 text-center">
            <a class="btn-solid" href="{{ pdfLink }}">Save as PDF</a>
            <button type="button" class="btn-solid btn-solid-noborder" onclick="$.fancybox.close()">Close</button>
        </div>
    </div>
</div>