 <section class="block-trial text-center" style="background-image: url({{ asset('assets/images/erpSite/img2.jpg')}});">
    <div class="container">
        <h2>Zoobdoo was built to make your life easier. <br><span class="normal">Start your 30 Day Free Trial</span></h2>
        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default">Get Started</a>
    </div>
</section>