<div class="popup-content" id="body-refund">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 text-center">
            <div class="alert {{ class }}" style="margin-top: 10px;">{{ message }}</div>
        </div>
    </div>
</div>