{% extends 'ErpSiteBundle::base.html.twig' %}

{% set metaTitle = 'Faq | Zoobdoo' %}
{% set metaDescription = 'Zoobdoo is where proparty managers and tenants connect. Manage all of your properties, post vacant spaces, and receive rent payments online. Sign up today!' %}

{% block pageContent %}

    <main id="main">
        <section class="block-faq">
            <div class="container">
                <h1>FAQ</h1>
                <ul class="accordion">
                    <li>
                        <a class="opener" href="#">What is Zoobdoo? <i class="fas fa-chevron-down"></i></a>
                        <div class="slide js-acc-hidden">
                            <p>Zoobdoo is an online property management solution that provides property managers all the tools necessary to effectively and efficiently manage their properties. No matter how many properties you manage, from just a few to as many as you have, we are scalable and provide solutions that will make managing properties a simpler process. We are here to help build your business by keeping things simple and affordable. <a href="#" class="link">Accept rent payments online</a>, pay landlords, get <a href="#" class="link">background and credit checks</a>, send rental applications and collect fees, create rental contracts with online e-signatures, manage your assets, generate tax forms, send notifications and alerts to your tenants by text and email, and much more. All from our secure site. </p>
                        </div>
                    </li>
                    <li>
                        <a class="opener" href="#">How do the transactions occur? <i class="fas fa-chevron-down"></i></a>
                        <div class="slide js-acc-hidden">
                            <p>
                            The tenant submits payment through Zoobdoo tenant portal, payment processes through the Automatic Clearing House (ACH) or Credit Processor (CC), and payment is deposited directly in property managers account.</p>
                        </div>
                    </li>
                    <li>
                        <a class="opener" href="#">Price: How much does it cost? <i class="fas fa-chevron-down"></i></a>
                        <div class="slide js-acc-hidden">
                            <p>
                                Property Managers pay a low fee of just $99 for the first property per year, $20 per additional property up to thirty then just $10 per additional property! No contracts or obligations! 
                                Tenant does not pay a fee for ACH transactions. Tenant pays a 2.5% per Credit Card transaction. (Accept Visa, Mastercard and Discover)                   
                                Zoobdoo does not charge an application fee per applicant submission, but you may want to and we can help you do that.
                                Credit, background, and eviction check, just $15 per person.
                                Everything else is included in our low annual fee.
                            </p>
                        </div>
                    </li>
                    <li>
                        <a class="opener" href="#">Do I have to sign a contract? <i class="fas fa-chevron-down"></i></a>
                        <div class="slide js-acc-hidden">
                            <p>
                                No, there is no long or short-term contract or obligation. You can cancel at any time.
                            </p>
                        </div>
                    </li>
                    <li>
                        <a class="opener" href="#">Are there any hidden fees or obligations? <i class="fas fa-chevron-down"></i></a>
                        <div class="slide js-acc-hidden">
                            <p>There are no hidden fees. No contracts or obligations.</p>
                        </div>
                    </li>
                    <li>
                        <a class="opener" href="#">How do I start accepting tenant payments directly <i class="fas fa-chevron-down"></i></a>
                        <div class="slide js-acc-hidden">
                            <p>
                                It’s super easy, once you sign up for an account you will verify you bank account through our secure service. Invite your tenant to sign up for a tenant account, once they verify their account they will be able to easily pay monthly invoices. Payments are setup to be reoccurring and automatically invoice the tenant each month, to include notifying them by email and text message.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a class="opener" href="#">How long does it take for a payment to be deposited ?<i class="fas fa-chevron-down"></i></a>
                        <div class="slide js-acc-hidden">
                            <p>
                                Funds will typically be deposited into the Payee's banking account 3-5 business days after we begin processing the payment. This usually depends on your own bank. 
                            </p>
                        </div>
                    </li>

                    <li>
                        <a class="opener" href="#">What are the services offered ? <i class="fas fa-chevron-down"></i></a>
                        <div class="slide js-acc-hidden">
                            <p>
                                Included in Annual Fee:
                                Receive Credit Card and ACH Rent Payments Online
                                Create Rental Application Online with e-signatures
                                Create Leases Online with e-signatures
                                Invoicing, can be setup to be reoccurring monthly or for individual costs
                                Accounting Tools to help keep track of your income and expenditures
                                Asset Management Tool
                                Eviction Notification
                                Maintenance/Service Requests Online
                                Alerts and Notifications 
                                Legal Information
                                Tax Forms
                                Save all of the Documentation on our secure server
                                Post Property Vacancies Online
                                Provide Payments to Landlords
                                Pay as You Go:
                                Full Credit, Eviction, and Criminal Screening Just $15 per adult
                            </p>
                        </div>
                    </li>
                    <li>
                        <a class="opener" href="#">Can property landlords become members ?<i class="fas fa-chevron-down"></i></a>
                        <div class="slide js-acc-hidden">
                            <p>
                               Yes, we have a separate account just for landlords who do not directly manage their property. Easily provide payments to the landlord by having them sign up for an account at no cost. If you are a landlord who manages your property yourself, sign up for a Property Manager account and take advantage of all of our services. 
                            </p>
                        </div>
                    </li>

                    <li>
                        <a class="opener" href="#">Still have questions ?<i class="fas fa-chevron-down"></i></a>
                        <div class="slide js-acc-hidden">
                            <p>
                               Please submit any questions through the contact us page, email us at info@zoobdoo.com or drop us a chat in the box below.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>
        </section>
    </main>
{% endblock %}